[2013-08-30 17:44] ltartari opened #1 "Set up local environment"
As a developer
I need to set up my local environment
So that I can start working.

In scope (aka Tech Stack)
- Language: Ruby 2
- Frameworks: AngularJS on Ruby on Rails (4)
- Abstractions: Coffeescript, Slim and Scss

Out of scope
- Database

[2013-08-30 21:00] vitorbaptista commented on #1
I tried using Yeoman/Grunt/Bower, as we only use Rails for compiling coffeescript/slim/scss, but had no success.

Might be better this way, as we may need Rails to build a CMS later

[2013-08-30 21:08] ltartari commented on #1
I would love to have Yeoman/Grunt/Bower, but due to the fact that we're dealing with a one pointer stick to our default stack : )

[2013-08-30 21:12] ltartari opened #2 "Set up remote environment"
Set heroku environment without database and protected with password (due to the secrecy of the first phase of the project).

[2013-08-30 21:12] ltartari commented on #2
Leave the authentication thing to me (I already have some code that I can reuse).

[2013-08-31 00:48] ltartari opened #3 "Data extraction, cleaning and upload to open spending"
`/!\ WE NEED TO CHECK IF THIS IS REALLY ALL THAT WE NEED /!\`
Órgãos e Unidades Orçamentárias > Órgão (Orçamentário) > `Órgão (Cod)`
Órgãos e Unidades Orçamentárias > Órgão (Orçamentário) > `Órgão`
Órgãos e Unidades Orçamentárias > Unidade Orçamentária > `UO (Cod)`
Órgãos e Unidades Orçamentárias > Unidade Orçamentária > `UO`
Funcional e Programática > Função > `Função (Cod)`
Funcional e Programát

[2013-08-31 00:50] ltartari commented on #3
Check with Renato Brown if there will be any filters applied.

[2013-08-31 00:50] ltartari opened #4 "Training for data extraction, cleanup and how to publish on Open Spending"

[2013-08-31 00:55] ltartari opened #5 "Routing with friendly URL"

[2013-08-31 00:56] ltartari opened #6 "Caching strategy"

[2013-08-31 00:56] ltartari opened #7 "404 and 500 error pages"

[2013-08-31 01:00] ltartari opened #8 "Visual design"
[Visual identity guidelines for FGV — PDF 28MB](http://portal.fgv.br/sites/default/files/manual_identidade_visual.pdf)

[2013-08-31 01:01] ltartari opened #9 "Breadcrumb for Treemap pages"

[2013-08-31 01:02] ltartari opened #10 "Auxiliar pages"
Depends on: Content for auxiliary pages.

[2013-08-31 01:03] ltartari opened #11 "Home design"
Depends on: content for home.

[2013-08-31 01:06] ltartari opened #12 "Handle multiple values on Open Spending"

[2013-08-31 01:09] ltartari commented on #12
Waiting @vitorbaptista to talk with @tryggvib and see if it's possible to make this happen on Open Spending.

[2013-08-31 01:10] ltartari opened #13 "Treemap development"
[code]

[2013-08-31 01:11] ltartari opened #14 "Share project page"
Facebook, Twitter and Google Plus

[2013-08-31 01:12] ltartari opened #15 "Data download button"
Basically this will download a CSV with the whole dataset used in the application.

[2013-08-31 01:14] ltartari commented on #15
Concern: How will, performance wise, Open Spending handle this?

[2013-08-31 01:15] ltartari opened #16 "Data grid below Treemap"
Should show Treemap elements with "Empenhado" (Pago + RP Pago) values.

[2013-08-31 01:18] ltartari opened #17 "Contextual data download button"
Provide the ability to download a the data at any given application context, using the current navigation as a filter for creating this new smaller dataset.

[2013-08-31 01:19] ltartari opened #18 "Time series showing percentage variation"

[2013-08-31 01:21] ltartari opened #19 "Share an inner page"
Facebook, Twitter and Google Plus.

[2013-08-31 01:26] ltartari opened #20 "Show budget execution on the treemap"
This would be basically a colour scale applied to the each treemap quadrant to show the execution of any given element.

Depends on: scale values definition.

[2013-08-31 01:27] ltartari opened #21 "Budget execution percentage on the data grid table"

[2013-08-31 01:27] ltartari opened #22 "Filter and sorting on the data grid table"

[2013-08-31 01:28] ltartari opened #23 "Orbital graph (Bubble) + Navigation"
Depends on grouping of `Funções` in less categories.

[2013-08-31 01:37] ltartari commented on #23
…and heres the grouping. Kudos Dr. Brown! :+1:

PROPOSTA DE CLASSIFICAÇÃO DE FUNÇÕES POR GRUPO

A) Funcionamento do Estado
I - Poderes do Estado e Cidadania
01 - LEGISLATIVA
02 - JUDICIARIA
03 - ESSENCIAL A JUSTICA

II - Defesa, Justiça e Cidadania
05 - DEFESA NACIONAL
06 - SEGURANCA PUBLICA
07 - RELACOES EXTERIORES
14 - DIREITOS DA CIDADANIA

III - Administração
04 - ADMINISTRACAO

IV - Operações

[2013-08-31 01:39] ltartari opened #24 "Per capita state transfer"

[2013-08-31 01:39] ltartari commented on #24
Concern: SIGA only offers population information after 2011.

[2013-08-31 01:41] ltartari opened #25 "Choropleth map without navigation"
Basically the same functionality as in http://minasgerais.playground.openspending.org/bubblemap.html, but without the ability to navigate using the map.

[2013-08-31 01:44] ltartari opened #26 "Choropleth map legend"
Concern: probably underestimated! Reestimate on IPM before playing the task.

[2013-08-31 01:45] ltartari opened #27 "Data grid table for orbital (bubbles) graph showing the absolute values."

[2013-08-31 01:46] ltartari opened #28 "Data grid table pagination"

[2013-08-31 01:49] ltartari opened #29 "Anual variation in proportion to the total"

[2013-08-31 01:50] ltartari opened #30 "Mini-treemap for navigation and visualization"

[2013-08-31 01:50] ltartari opened #31 "Show percentage values on the data grid table"

[2013-08-31 01:51] everton137 commented on #3
@ltartari @vitorbaptista I'll check. Which years were agreed we should work with?

[2013-08-31 01:51] ltartari opened #32 "Authorized value progress bars on the data grid table"

[2013-08-31 02:07] ltartari commented on #3
We'll need to check with Prof. Rogério and/or Andressa. I think it's safe to assume and begin to work with data since 2010 but we need to check with them. Am I right, @vitorbaptista ?

[2013-08-31 02:09] everton137 commented on #3
I'll contact all three to ask this then.

[2013-08-31 02:11] ltartari opened #33 "Backlog"
investimento das estatais
bndes
internacionalização
administração de conteúdo da home (CMS)
navegação no mapa coroplético dentro do gráfico orbital
investimentos diretos + indiretos (Ex.: Obama Budget NYT)
calculo de deflação
deflacionar valores
variação anual
mostrar crescimento do orçamento em percentagem do PIB
linha de inflação nas barras 5

[2013-08-31 14:03] vitorbaptista commented on #12
@tryggvib estimated this as one day. I'm all in for funding him to do it,
but it depends on our budget. @everton137?

[2013-08-31 19:08] everton137 commented on #12
@vitorbaptista included one day work of @tryggvib in the budget paid by OKF Brasil.

[2013-09-02 17:41] everton137 commented on #3
Os dados vão ficar nessa pasta:

https://www.dropbox.com/sh/190jszwjjqz6jry/BTohEjrWZ4

Já baixei os dados listados com e sem filtro (usei o mesmo filtro que o do Inesc).

[2013-09-02 19:44] vitorbaptista commented on #2
I think we don't need authentication. There's no way for someone to reach the site, unless someone else gives him/her the URL. We're not being linked from anywhere, and Google can't find us.

IMHO, that's enough.

[2013-09-02 19:59] ltartari commented on #2
Fair enough. Help me out, @vitorbaptista: what do I need to know in order to sign off this task?

[2013-09-02 22:37] vitorbaptista commented on #2
@ltartari I guess checking that we have a deployed application (check http://weiss.herokuapp.com/ and http://weiss-staging.herokuapp.com/) should be enough. This is done.

[2013-09-02 22:38] vitorbaptista commented on #1
So we ended up ditching Rails and using Yeoman/Bower/Grunt to organize our workflow. For my part, this is done. After you, @ltartari, installs everything in your machine and checks that you're able to deploy, we can close this.

[2013-09-02 22:40] vitorbaptista commented on #12
@tryggvib I don't know the details on how the budget will be transfered to you, but the sooner you can do this, the better. I'll have to keep doing the workaround while we don't have this functionality.

[2013-09-03 02:29] ltartari commented on #1
Can I ask for a README file with step-by-step instructions?
![just-following-instructions](https://f.cloud.github.com/assets/114248/1070085/92cab888-1440-11e3-8881-996966ab93ae.gif)

[2013-09-03 02:43] ltartari commented on #2
:+1:

[2013-09-03 15:14] everton137 commented on #3
Data cleaned and loaded at OS: http://openspending.org/orcamento_publico

We need to understand these 19k line of 123k where "Elementos de Despesa" is "NÃO INFORMADO" (= not informed).

Also to confirme with FGV if we need the filter in the data, because the values are too diferent from Inesc project without the filter.

[2013-09-03 15:33] trickvi commented on #12
@vitorbaptista I've created a [pull request](https://github.com/openspending/openspending/pull/682) on openspending with the fix. Could you review it? I'll deploy when it's reviewed and ready.

[2013-09-03 17:43] vitorbaptista commented on #12
Great job, @tryggvib!

FYI, this patch is already done, merged and live in https://github.com/openspending/openspending/pull/682. You can check that it works going in http://openspending.org/api/2/aggregate?cut=time.year%3A2012%7Corgao%3A26000&dataset=orcamento_federal&drilldown=time.month&measure=pago|rppago|amount&order=time.month%3Aasc.

:beers:

[2013-09-03 19:00] ltartari commented on #12
Great team work guys! ;-)
![team-work](https://f.cloud.github.com/assets/114248/1075184/22d2328e-14c9-11e3-823f-b5cf4d2dcba8.gif)

[2013-09-04 20:39] ltartari commented on #1
Ok, this is done. "Works on my machine" seal of approval.

[2013-09-04 20:39] #1 closed, assigned to nobody

[2013-09-04 20:42] ltartari commented on #2
Dev complete.

[2013-09-04 20:42] #2 closed, assigned to vitorbaptista

[2013-09-05 14:00] vitorbaptista opened #34 "Routes with trailing slash break our code"
For example, if you access http://weiss-staging.herokuapp.com/#/treemap/ instead of http://weiss-staging.herokuapp.com/#/treemap, it won't work. That's because our routes map `/#/treemap/` to the state `treemap.funcao`, instead of just `treemap`.

It's not critical, as it's OK to consider that people will only use links we generate. But it would be good to fix, if it was easy.

[2013-09-06 17:55] ltartari commented on #13
@vitorbaptista there's a bug: when using the browser buttons to navigate I can't navigate using the treemap anymore. Happening in production. Do you think this should be logged as a new bug?

[2013-09-06 19:02] vitorbaptista commented on #13
@ltartari Could you try this again? I couldn't reproduce it...

[2013-09-06 19:29] ltartari commented on #13
@vitorbaptista yes, still happening. I can show you on skype…

[2013-09-17 23:23] vitorbaptista opened #35 "Back button isn't working"
The problem is that the treemap's div is positioned over it, so it doesn't get the pointer events.

@ltartari I've assigned you, OK? Shouldn't be difficult.

[2013-09-17 23:56] vitorbaptista commented on #9
@ltartari I've just finished creating the breadcrumb. IMHO, there's just some design left to close it.

We need to figure out a way to get back to the top level. I guess that's what you wanted the "Treemap" link to be for., but I don't think it's good enough.

Also, when you enter the page with no drilldowns (http://weiss-staging.herokuapp.com/#/treemap/2013), there's no breadcrumb, which is odd.

[2013-09-17 23:57] vitorbaptista commented on #35
Before fixing it, think about if we actually need it, now that we have the breadcrumb.

I like the button, but I might be convinced otherwise.

[2013-09-18 00:37] ltartari commented on #35
Let's ask what the guys at FGV think about this one. I'm all in for ditching this button : )

[2013-09-18 00:38] ltartari commented on #9
I'm on it, @vitorbaptista

[2013-09-18 12:26] vitorbaptista opened #36 "What to do when the treemap's amount is zero?"
For example, in http://weiss-staging.herokuapp.com/#/treemap/2013/13-cultura/422-direitos-individuais-coletivos-e-difusos

[2013-09-18 12:33] ltartari commented on #36
How did you get to this, @vitorbaptista ?

I see only one way you could possible get to this page: after seeing it in one year with a positive value, you change the year to where it doesn't have anything. In that case, should the year be displayed at all? IMHO that's the question. : )

[2013-09-18 13:00] vitorbaptista commented on #36
You need to go to http://weiss-staging.herokuapp.com/#/treemap/2012/13-cultura and click in "Direitos Individuais e Coletivos Difusos". Then you can change the year to 2013.

Yes, if there's no data for a certain year, it won't appear in the list (just fixed that). The problem is that there IS data for this year, but it's zero. Check http://openspending.org/api/2/aggregate?cut=funcao%3A13%7Csubfun

[2013-09-18 17:18] ltartari commented on #36
IMO there should be no way to "see" a Treemap with 0 as the value, @vitorbaptista

If there's an entity (or whatever we're calling it =P) listed on the data-grid it should NOT be a link ;-)

[2013-09-18 18:25] ltartari commented on #36
So, after a quick Skype chat we have decided that the Treemap will NOT be shown for values equal to 0. On his place a text saying "Não há valores para NOMEDOCORTE" (or something similar) will be displayed.

NOTE: There will be no background color for this message, making it not an "empty Treemap" but just a notice instead.

[2013-09-18 20:31] vitorbaptista opened #37 "Links on the breadcrumb aren't updating when the year changes"
Steps to reproduce:
1. Go to a link where you can see the breadcrumb (i.e. http://weiss-staging.herokuapp.com/#/treemap/2013/9-previdencia-social/271-previdencia-basica)
2. Check that the breadcrumbs link to the current year (i.e. 2013)
3. Change year to 2012
4. Note that the breadcrumbs still link to the previous year (2013)

The problem is that we're getting the params from `$state.params`, whic

[2013-09-18 20:53] vitorbaptista commented on #15
The problem is: how to download all the data in a dataset in OpenSpending? As we don't save the CSV itself, OS will have to recreate it from the DB, which can be quite CPU intensive. Considering that we'll have data since 2006 (right, @ltartari ?), I'm afraid it'll timeout before finishing. Also, I don't want to hit OpenSpending too hard.

What I'm doing now is http://openspending.org/api/2/aggreg

[2013-09-18 20:56] vitorbaptista commented on #9
@ltartari I've added the year as the breadcrumb's first element. It feels a bit redundant now that we have the year dropdown just by its side, but I'm sure it'll get better, when you start building the design.

I did it in part because I like it, but mostly because it's the easiest solution :smile:

[2013-09-18 20:59] vitorbaptista commented on #17
There's "just" design work left on this. @ltartari I'm assigning you now

When you get to work on this and #15, tell me if you prefer to have a different text for each button, or it can be the same. I developed in a way that you can put whatever text you like in each of them, but if they're all the same, I could put in a single place to keep it DRY.

[2013-09-18 21:00] vitorbaptista commented on #13
IMO, it's done. The only thing missing is #36, but I don't think it blocks the card. :beers:

[2013-09-19 12:48] ltartari commented on #15
Data since 2006, check, @vitorbaptista . Do you know if there's a way to convert JSON to CSV on the client side? Wouldn't that help us?

[2013-09-19 12:50] ltartari commented on #9
Can we replace the link with the <select> for the year on the breadcrumb or that would be asking too much, @vitorbaptista ?

[2013-09-19 12:56] ltartari commented on #13
Indeed! :cocktail: :cocktail:

[2013-09-19 13:02] vitorbaptista commented on #15
Not really. JSON is bigger than CSV, so that would be slower...

[2013-09-19 15:58] vitorbaptista commented on #9
You mean use the dropdown instead of a link for the year? If so, yes, that's asking too much :P

[2013-09-19 20:35] #37 closed, assigned to vitorbaptista

[2013-09-20 13:45] vitorbaptista commented on #28
Do we still want it?

[2013-09-20 13:45] vitorbaptista commented on #22
Do we want filtering, or just sorting? Maybe it would be good to add a line number as well, so it's easy to see the ranking whenever we sort...

[2013-09-20 13:48] vitorbaptista commented on #16
Should the label really be "Empenhado"? In the project with INESC, we called that "Pagamentos" (which I agree is a bit confusing. Without context, what's the difference between Pago and Pagamentos?)

[2013-09-20 13:50] vitorbaptista commented on #9
@ltartari Depending on what you think about having the year link as the first element of the breadcrumb, this is dev complete or not :P

[2013-09-20 15:52] vitorbaptista opened #38 "Add spinner to the page whenever we're loading data"

[2013-09-20 17:08] vitorbaptista commented on #38
@ltartari I guess we can close this. To use it, we just need to add async-content to whatever element we want to "disable" while data is loading.

[2013-09-23 08:59] trickvi commented on #15
OpenSpending only fetches CSV data from some external source. Couldn't we just fetch directly from there? It shouldn't be hard to add to dataset.json something like

[code]

And just add that link (or links). Why would we want to fetch it from the database if it already exists online?

[2013-09-23 16:56] ltartari commented on #28
This is only valid for Orbital (Bubble) graphs. We don't need it now.

[2013-09-23 17:00] ltartari commented on #22
I believe both filtering and sorting. Line numbers are definitely a plus ;-)

[2013-09-23 17:01] ltartari commented on #9
Development complete, @vitorbaptista : )

GG

[2013-09-23 17:04] ltartari commented on #38
Bravo.

[2013-09-23 17:21] vitorbaptista commented on #15
@tryggvib The problem is that the uploaded csv isn't guaranteed to have all the dataset's data. Our plan is to, while we have data since 2006, only use 2013 while updating the dataset. So we won't have to upload a huge CSV and make OpenSpending read it all to discover that only the last hundred or so lines were added/modified.

There're other problems with sending just the original CSV URLs. For e

[2013-09-23 18:34] ltartari commented on #3
Hey @everton137, what about these "*******" at http://weiss-staging.herokuapp.com/#/treemap/2013/20-agricultura ?

[2013-09-23 20:54] vitorbaptista opened #39 "The last drilldown in the treemap shouldn't show a pointer cursor"
As it's the last drilldown (i.e. we can't go further), the cursor should be the standard one, not a pointer.

[2013-09-23 20:55] vitorbaptista opened #40 "Localize currencies to pt_BR"
It should be like R$ 3.123,35

[2013-09-23 21:22] vitorbaptista commented on #15
As per @andressafioravanti suggestion, we could instead of having a button to download everything, simply use #17  to download all data for a specific year. This would limit the data amount and solve our problems.

[2013-09-23 22:01] #39 closed, assigned to vitorbaptista

[2013-09-23 22:03] #40 closed, assigned to nobody

[2013-09-23 22:04] vitorbaptista commented on #35
@ltartari I think we can close this :+1:

[2013-09-23 22:04] ltartari commented on #35
Indeed.

[2013-09-23 22:04] #35 closed, assigned to nobody

[2013-09-24 15:22] andressafioravanti commented on #38
Legal! esta tarefa esta completa. Mas não estou vendo o botão de close por aqui...

[2013-09-24 15:26] andressafioravanti commented on #13
Vitor, será possível diminuir a letra dos quadrados menores ( ou de todos os quadrados, se for a única opção) para que assim, mais quadrados tenham o nome identificado? acho que isso melhora o entendimento do treemap como um todo.
Outra coisa, não entendi porque alguns quadrados onde nao cabem o nome dele, tem mesmo assim um pedaço do nome ( entenda por nome, a função, subf, orgão etc) e outros na

[2013-09-24 17:37] ltartari commented on #38
Deveria aparecer como "Close & Comment" do lado do botão verde (Comment). Vou fechar por aqui @andressafioravanti ;-)

[2013-09-24 17:37] #38 closed, assigned to vitorbaptista

[2013-09-24 17:41] ltartari commented on #13
@andressafioravanti Eu consigo alterar o tamanho da fonte para todos os nomes, mas para fazer aparecer nas áreas menores é outro departamento : ) É possível, @vitorbaptista ?

[2013-09-24 18:14] vitorbaptista commented on #13
@andressafioravanti Diminuir a fonte como um todo é simples, como o @ltartari falou. Mas adicionar essa lógica de diminuir só nos quadrados menores não. Também não encontrei um exemplo de texto cortado, você pode passar o link?

[2013-09-25 18:06] vitorbaptista opened #41 "Breadcrumb slugs are lost when going back"
## Steps to reproduce
1. Go to a page with some cuts (i.e. http://weiss-staging.herokuapp.com/#/treemap/2013/9-previdencia-social/271-previdencia-basica/33000-ministerio-da-previdencia-social/33201-instituto-nacional-do-seguro-social/90-aplicacoes-diretas)
2. Click on the breadcrumb to go back a few levels, going back to the year (2013), for example;
3. Press the back button in your browser
## Exp

[2013-09-25 18:30] ltartari commented on #41
Damn. :(
![wtf-cat](https://f.cloud.github.com/assets/114248/1211902/8e75b9d6-2610-11e3-97d1-7eed13def484.gif)

[2013-09-26 16:48] andressafioravanti commented on #9
recebi o email do leo falando que some qnd volta... já resolveu isso ?

o que eu reparei é que quando dá voltar e dps avançar ele não descreve o caminho em palavras e sim em códigos..

2013 › PREVIDENCIA SOCIAL › 272 › 63000

[2013-09-26 16:50] ltartari commented on #9
Abrimos o bug #41 para resolver isso @andressafioravanti

[2013-09-26 16:50] andressafioravanti commented on #13
http://weiss.herokuapp.com/#/treemap/2013/28-encargos-especiais/845-transferencias

[2013-09-26 19:26] andressafioravanti commented on #9
é posível fazer um outro breadcrumb que referenciaria o usuaria a que nível de detalhamento ele está olhando?
se ele tá olhando uma função, uma UO.. etc etc..
o que vcs acham da ideia? mt trabalhoso?

[2013-09-27 20:55] ltartari commented on #9
@andressafioravanti seria mais referente a todos os contextos do breadcrumb ou somente ao contexto de visualização atual? Exemplo:
Todos os contextos:
`2013 (ANO) › ENCARGOS ESPECIAIS (FUNÇÃO) › SERVICO DA DIVIDA INTERNA (SUBFUNÇÃO) › ENCARGOS FINANCEIROS DA UNIAO (ÓRGÃO)`

Somente o contexto atual:
`2013 › ENCARGOS ESPECIAIS › SERVICO DA DIVIDA INTERNA › ENCARGOS FINANCEIROS DA UNIAO (ÓRGÃO)`

@v

[2013-09-30 12:30] andressafioravanti commented on #9
Todos.
Mas pensei que eles estariam dispostos separadamente.

2013 › ENCARGOS ESPECIAIS › SERVICO DA DIVIDA INTERNA › ENCARGOS FINANCEIROS DA UNIAo
2013> Função> Subfunção> Orgão

O que acha?

[2013-10-01 14:43] vitorbaptista opened #42 "Display drilldown names on the breadcrumb"
Something like:

[code]

or

[code]

Check #9 for some context

[2013-10-01 14:48] vitorbaptista commented on #9
@andressafioravanti @ltartari É uma ideia interessante (e importante), mas não trivial. Criei a issue #42 para não esquecermos, e podemos priorizá-la na próxima IPM.

[2013-10-01 15:43] vitorbaptista commented on #41
Fixed :beers:

[2013-10-01 15:43] #41 closed, assigned to vitorbaptista

[2013-10-01 17:10] vitorbaptista commented on #20
What will we display for the current year? Does it make sense to get the budget for that year, divide by the number of months so far, and calculate the spending on that?

For example, if a public body have a budget of 1.2 bi, we consider that it should spend 100 million per month to use all its budget. If we're on April and it spent only 50 million, it's a problem.

What do you think, @andressafio

[2013-10-01 19:27] #17 closed, assigned to nobody

[2013-10-01 19:34] #12 closed, assigned to nobody

[2013-10-01 19:35] #9 closed, assigned to vitorbaptista

[2013-10-01 19:38] #5 closed, assigned to vitorbaptista

[2013-10-01 19:40] vitorbaptista opened #43 "When navigating to link with year other than 2013, it redirects to 2013"
To reproduce, visit http://weiss-staging.herokuapp.com/#/treemap/2012. See that it'll redirect you to http://weiss-staging.herokuapp.com/#/treemap/2013.

[2013-10-01 20:19] ltartari commented on #33
comentários na página.

[2013-10-01 20:19] ltartari commented on #33
notícias.

[2013-10-01 21:08] vitorbaptista commented on #43
Fixed! :dancers:

[2013-10-01 21:08] #43 closed, assigned to vitorbaptista

[2013-10-01 21:37] vitorbaptista commented on #13
@andressafioravanti A lógica que está feita é que se um quadradinho do treemap for maior que um valor percentual (no caso, 3%), mostra o texto. Se não, não. No que você linkou, o ministério das cidades tem 5,03%, por isso está aparecendo.

O que eu posso fazer é aumentar esse limiar para, por exemplo, 6%. Resolve no caso do link que você passou, mas pode ter algum outro lugar onde vai cortar també

[2013-10-01 21:45] vitorbaptista commented on #13
@andressafioravanti Pra ficar mais fácil de comparar, mandei o código para staging. Você pode ver a diferença comparando com production. Por exemplo, http://weiss.herokuapp.com/#/treemap/2013/28-encargos-especiais/845-transferencias e http://weiss-staging.herokuapp.com/#/treemap/2013/28-encargos-especiais/845-transferencias.

Não liga para as cores ainda.

[2013-10-01 22:35] ltartari commented on #5
Yay! :cocktail: :beers: :+1:

[2013-10-01 22:38] ltartari commented on #41
![thumbs-up](https://f.cloud.github.com/assets/114248/1249814/1322e322-2ae7-11e3-880e-5256e36fa54e.gif)

[2013-10-01 22:56] ltartari commented on #43
Great work! ![nice-skills](https://f.cloud.github.com/assets/114248/1249924/2eda2b90-2aea-11e3-8980-c17e072ed1cb.gif)

[2013-10-01 22:56] ltartari commented on #9
Yay! :beers: :+1: :cocktail:

[2013-10-01 22:58] andressafioravanti commented on #13
@vitorbaptista  Não dá pra mudar a posição da barra?
Se ela ficasse na horizontal caberia...

[2013-10-01 23:30] vitorbaptista commented on #13
@andressafioravanti Caberia em alguns, mas não todos. Nos quadradinhos menores não tem como fazer, seja horizontal ou verticalmente. A solução é corrigir esse cálculo que diz se o texto cabe. A forma que está feita no OpenSpending (colocar em quadrados maiores que 3% do total) é super simples, mas tem essas falhas. Mudar isso não é fácil.

Posso criar uma issue para não esquecermos desse problema

[2013-10-01 23:39] vitorbaptista commented on #18
@ltartari Your turn :smiley:

[2013-10-02 00:41] ltartari commented on #18
On it. =)

[2013-10-02 13:19] andressafioravanti commented on #13
Acho melhor não aumentarmos a proporção para aparecer os nomes. Deixamos então como uma issue.

[2013-10-02 16:46] vitorbaptista commented on #22
I enabled the filtering and sorting, and added the line numbers.

@ltartari I added some basic styles, just changing the cursor when a column is sortable and removed that outline on https://github.com/okfn/fgv/commit/3d065882b5df390ae92e83beb62518efbdd0b255. At first I thought about styling `th` with everything that I wanted for the sortable columns and then simply remove from `.sorting_disable` s

[2013-10-02 16:48] vitorbaptista commented on #22
Ah, I didn't enable sorting by the "entity" name, as we don't have a general name for it yet. If we can't find one and we want to enable sorting on that column, it's dependent on #42

[2013-10-02 16:57] vitorbaptista opened #44 "Don't show labels on the treemap that don't fit on their nodes"
The problem is that the logic for showing/hiding labels is pretty simple: if the node has more than 3% of the total, show the label.

[code]

This doesn't considers the size of the node's label. Ideally, we would calculate the size of the text (with node's label + its values), and check if it fits inside the rectangle. This makes it much more complicated, as we'll have to consider the text size in

[2013-10-02 16:58] vitorbaptista commented on #13
@andressafioravanti Criei a issue #44 para priorizarmos depois. Acho que isso era a única dúvida que bloqueava essa issue, certo? Se não houver mais nada, por favor, feche ela :+1:

[2013-10-02 17:01] vitorbaptista commented on #7
@ltartari Is this done?

[2013-10-02 17:03] vitorbaptista commented on #16
@andressafioravanti Você pode confirmar que essa issue está completa e, se sim, fechá-la também?

[2013-10-02 17:17] ltartari commented on #7
No. I just added the html files, but couldn't point the routes. Can you take a look for me on that, @vitorbaptista ?

After that the only thing missing will be the design and content for the pages.

[2013-10-02 17:20] #13 closed, assigned to vitorbaptista

[2013-10-02 17:23] vitorbaptista commented on #15
@ltartari Just added the button to download the current year's data, as per @andressafioravanti suggestion. :beers:

[2013-10-02 17:28] andressafioravanti commented on #16
amount,elemento_despesa.html_url,elemento_despesa.id,elemento_despesa.label,elemento_despesa.name,elemento_despesa.taxonomy,funcao.html_url,funcao.id,funcao.label,funcao.name,funcao.taxonomy,mod_aplic.html_url,mod_aplic.id,mod_aplic.label,mod_aplic.name,mod_aplic.taxonomy,num_entries,orgao.html_url,orgao.id,orgao.label,orgao.name,orgao.taxonomy,pago,rppago,subfuncao.html_url,subfuncao.id,subfuncao

[2013-10-02 18:38] vitorbaptista commented on #16
@andressafioravanti É que é um arquivo CSV. Não tenho o Excel para te ajudar, mas tem explicando como importar um arquivo CSV em http://office.microsoft.com/en-us/excel-help/import-or-export-text-txt-or-csv-files-HP010099725.aspx#BMimport_data_from_a_text_file_by_openi

[2013-10-02 19:31] vitorbaptista opened #45 "gzip content when serving"
Our site is very heavy. GZipping our assets makes us faster in all but the fastest connections.

[2013-10-02 19:53] #45 closed, assigned to vitorbaptista

[2013-10-03 12:42] vitorbaptista commented on #18
@ltartari Just fixed the way I was calculating the variations. It's right now. This creates a (small?) problem for you: as we're always considering the changes in percentual (i.e. if SAUDE was 10% of the total budget in 2011, and 5% in 2012, the delta is -50%, even though it might have increased in absolute numbers. Basically, we're showing how bigger/smaller is each treemap's square, when compare

[2013-10-03 13:02] vitorbaptista commented on #6
Note: Remember to change ExpressJS to activate asset caching. AFAIK, the greater value, the better. As we change the assets' filenames whenever something is changed, we don't have to worry about people getting outdated stuff (as long as index.html itself isn't cached for long).

[2013-10-03 16:36] ltartari commented on #18
@vitorbaptista, how about using the absolute value for the entire budget for each year and show that comparison? Is that feasible? What do you think on that? I believe that we should ask @andressafioravanti and the guys from FGV what should we do here.

Looks awful btw :-1:

[2013-10-03 17:21] vitorbaptista commented on #18
To give a fair comparison, we need to deflate the values. Unfortunately.

[2013-10-04 00:26] vitorbaptista commented on #20
@ltartari I've just added the first version of the legends in https://github.com/okfn/fgv/commit/65769f741c894d9d05e89f01392b7e9b0b062497. To change the class names, you could simply change in https://github.com/okfn/fgv/blob/master/app/scripts/services/choropleth_scale.coffee#L3-L6 (not forgetting to fix the test in https://github.com/okfn/fgv/blob/master/test/spec/services/choropleth_scale.coffe

[2013-10-04 00:27] vitorbaptista commented on #18
TODO: Change the pointer and/or add a hover effect to show that the bars are clickable.

[2013-10-04 00:53] ltartari commented on #20
:cocktail: :beers: :+1:

[2013-10-04 01:03] ltartari opened #46 "Add affordance to time-series graph bars."
TODO: Change the pointer and/or add a hover effect to show that the bars are clickable.

[2013-10-04 17:02] andressafioravanti commented on #20
@ltartari conseguiram falar com o Renato sobre o ano corrente?

[2013-10-04 19:33] vitorbaptista commented on #20
@andressafioravanti Consegui falar com ele sim. O que ficou acertado foi que faríamos como sugeri em https://github.com/okfn/fgv/issues/20#issuecomment-25469472, simplesmente considerando o autorizado relativo ao mês atual, no caso de ano corrente.

[2013-10-04 20:10] andressafioravanti commented on #20
ok!

[2013-10-08 19:31] trickvi commented on #30
Could you explain this in a bit more detail. I'm not sure I understand entirely.

[2013-10-08 19:32] trickvi commented on #23
How is this represented by the data?

[2013-10-08 19:49] vitorbaptista commented on #30
This is still in the treemap page. The idea is that whenever you drilldown on a tile in the treemap, you miss the big view. For example, if I'm at http://weiss-staging.herokuapp.com/treemap/2013/10-saude, I don't know how big is it considering the total. Does it represent 10%? 15%? or what?

So the idea is to have a mini-treemap (like a minimap) with everything greyed-out, except the tile you're c

[2013-10-08 20:05] vitorbaptista commented on #23
@ltartari's comments shows the FUNCOES grouping. There're many Funcoes (more than 20), so we need to group them before creating the graph.

The basic idea is to create a bubble graph with these groupings (they might be in another dataset on OpenSpending, or a CSV file somewhere, or even add a DB (which will be hard, given that we don't have the infrastructure yet)). There's quite a bit of data, so

[2013-10-08 21:31] trickvi commented on #30
Ah so this isn't a part of the bubbletree (orbital)? Is this incorrectly labelled?

[2013-10-08 21:34] trickvi commented on #23
Are you going to group after getting the data from OpenSpending or are you going to group in OpenSpending? If you're grouping in OpenSpending then this isn't such a big problem right? It's just the same functionality as a bubbletree with cofog classification.

[2013-10-08 21:37] vitorbaptista commented on #30
I thought that as well, and we might want to change it. The labels are basically telling milestones. The phase 1 (named "Treemap"), and phase 2 (named "Orbital"). It doesn't mean that in phase 2 we'll only do stuff about the bubbles, but that it's the main deliverable.

[2013-10-08 21:42] vitorbaptista commented on #23
Yeah, it might be better to add another column in the data with this new classification. So this part is probably @everton137's job.

The biggest concern is that there's too much data to show in a single bubblegraph, so we'll need a strategy to only load whatever the current drilldown needs to be drawn.

In the treemap's case, it wasn't a big deal. We simply load a new treemap with whatever drilld

[2013-10-08 21:51] vitorbaptista commented on #30
BTW, I'm concerned with this card because of possible performance issues, as the treemap feels a bit slow when we have too many tiles (i.e. http://weiss-staging.herokuapp.com/treemap/2013/12-educacao/364-ensino-superior/26000-ministerio-da-educacao). Having two on a single page would make it worse.

Also about how to highlight the current tile being shown. This might be easy, but I'm not sure.

[2013-10-09 09:47] trickvi commented on #23
This also isn't too many bubbles for the bubbletree. I see 3 bubbles for level 1. At most 4 bubbles for level 2, and at most 4 bubbles for level 3.

Using the aggregation framework can't result in 30MB of data can it? I would think that would be quite difficult to achieve with the amount of bubbles you have.

[2013-10-09 09:51] trickvi commented on #30
If you have too many tiles won't a small treemap be kind of difficult to use, especially if you highlight one of the smaller tiles? But I agree with you that this might not be optimal. Have you tried turning off the animation (or maybe you like the animation).

[2013-10-09 12:36] ltartari commented on #30
We discussed this functionality a long time ago (during the inception to be precise) and it would be used for navigation and showing the current tile inside the previous context. I agree that it would be of no use for smaller tiles, but as I said, this was decided in the past and the context has changed. We need to check with the client if this is still valid and let them decide if we really need

[2013-10-09 12:52] everton137 commented on #23
(basic question, answer when you have time)

@tryggvib , @vitorbaptista what is the aggregation framework?

[2013-10-09 14:08] andressafioravanti commented on #21
vou fechar a tarefa, mas acho melhor removermos a barra de executado mesmo, como sugeriu @vitorbaptista

[2013-10-09 14:08] #21 closed, assigned to nobody

[2013-10-09 14:10] #16 closed, assigned to vitorbaptista

[2013-10-09 14:11] #19 closed, assigned to vitorbaptista

[2013-10-09 14:11] #22 closed, assigned to nobody

[2013-10-09 17:13] vitorbaptista commented on #30
Not sure how hard it would be, but JIT, the framework OpenSpending uses
under the hood, already has this animation implemented.

[2013-10-10 08:32] trickvi commented on #23
@everton137 The aggregation framework is how you get data out of OpenSpending. You put in a dataset and then you can use OpenSpending to do calculations for you via calls to our API. This would aggregate (sum up the amounts) for different classifications or recipients or whatever you ask it to.  Basically summing things up for you in the dataset so you don't have to (doing the analysis for you).

[2013-10-10 20:13] everton137 commented on #23
Thanks, @tryggvib.

[2013-10-16 17:56] ltartari opened #47 "Change year navigation from a select to a dropdown"
I would like to make it clear that in order to properly execute this feature (offering the same accessibility cues and features that a select offers) it would take a fairly large amount of time.

Change the way the user selects the current year from this:
![screen shot 2013-10-16 at 2 51 36 pm](https://f.cloud.github.com/assets/114248/1345212/ba41fe04-368b-11e3-8dce-02e5d9b14cdb.png)
to this:
![sc

[2013-10-16 18:18] ltartari opened #48 "Data table below treemap (all all future implementations of it)"
• On the table filter:
- after being filtered keep the field with class `.focused`
- clear filter when changing the context
- add an "×" on the right of the input for clearing up all filter
- Filtering for `NÃO` is not showing `NAO` and vice-versa

• On the data table:
- align all numbers by the comma
- improve affordance for headers sorting action

[2013-10-16 18:18] ltartari opened #49 "Link colours lack contrast with the default colour."

[2013-10-16 18:19] ltartari opened #50 "Improve the current year indicator on the time-series graph"

[2013-10-16 18:22] ltartari opened #51 "Data download buttons explanation"
• Explain what the user will be downloading (CSV file type).

Bonus points for showing file size.

[2013-10-16 18:25] ltartari opened #52 "Add text on top of time-series graph on first level of navigation"
Since we're not showing anything, an explanation of how the graph works should be added.

[2013-10-16 18:32] ltartari opened #53 "Sorting on the percentage column"
When I click on the percentage column header `Executado` to sort it, nothing happens.

[2013-10-16 21:28] ltartari opened #54 "Add a text indicating how to use the treemap"

[2013-10-17 13:21] ltartari opened #55 "Improve tooltip at treemap"
Currently showing:
Complete cut name
Percentage of "autorizado" distribution value
![screen shot 2013-10-17 at 10 13 09 am](https://f.cloud.github.com/assets/114248/1351868/e8f61760-372d-11e3-818f-1fae0de1d216.png)

Should show:
Complete cut name
Absolute "autorizado" value
Percentage of "autorizado" distribution value
Absolute execution value
Bonus point: explanation for what the cut means
![scre

[2013-10-17 13:31] ltartari opened #56 "Remove decimals and fix labels from the treemap execution legend"
…only when the values are rounded.

From this:
![screen shot 2013-10-17 at 10 28 00 am](https://f.cloud.github.com/assets/114248/1351979/f8caef10-372f-11e3-9937-cd79c17f3406.png)

To this:
![screen shot 2013-10-17 at 10 29 06 am](https://f.cloud.github.com/assets/114248/1351989/1ff65fd4-3730-11e3-8976-df9631589879.png)

But keep in mind that you'll still need to show it for the current year, like

[2013-10-17 14:32] vitorbaptista commented on #10
Not relevant anymore.

[2013-10-17 14:32] #10 closed, assigned to nobody

[2013-10-17 14:33] ltartari commented on #11
Moved to Drupal. Not relevant.

[2013-10-17 14:33] #11 closed, assigned to nobody

[2013-10-17 14:34] ltartari commented on #8
Following the layout provided by Renato Monteiro this is done.